---
import 'leaflet/dist/leaflet.css';
console.log('Leaflet API component loaded');
---

<div id="map">Leaflet MAP</div>


<script>
    import L from 'leaflet';
    let map;
    let mapElement;
    let myRenderer;

    let markerLayers;

    let initialCoords = { lat: 52.370216, lon: 4.895168 }; // Amsterdam coordinates

    console.log('Initializing Leaflet map...');

    function setupMap() {

        if(map) {
            map.off();
            map.remove();
        }

        const mapElement = document.getElementById('map');

        if (!mapElement) {
            console.error('Map element not found');
            return;
        }

        map = L.map(mapElement, {
            preferCanvas: true,
            zoomControl: true,
            fadeAnimation: true,
            zoomAnimation: true,
            markerZoomAnimation: true
        }).locate({setView: true, maxZoom: 16});

        myRenderer = L.canvas({ padding: 0.5 });

        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; OpenStreetMap',
            minZoom: 7.5, 
            maxZoom: 19,
        }).addTo(map);

        markerLayers = L.layerGroup().addTo(map);

        setTimeout(() => {
            map.invalidateSize();
        }, 1000);
    }

    document.addEventListener('DOMContentLoaded', setupMap);
    document.addEventListener('astro:load', setupMap);
</script>