---
// @ts-nocheck
import 'leaflet/dist/leaflet.css';
console.log('Leaflet API component loaded');
---

<div id="map" style="width: 100%; height: 100vh; z-index: 1;">
    <div class="loading"></div>
</div>


<script>
    // @ts-nocheck
    import L from 'leaflet';

    // MarkerCluster plugin for Leaflet
    // https://leafletjs.com/2012/08/20/guest-post-markerclusterer-0-1-released.html
    import 'leaflet.markercluster';
    import 'leaflet.markercluster/dist/MarkerCluster.css';
    import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
    let map;
    // let mapElement;
    let myRenderer;

    // let markerLayers;
    let markerClusters;

    let initialCoords = { lat: 52.370216, lon: 4.895168 }; // Amsterdam coordinates

    console.log('Initializing Leaflet map...');

    async function transitLiveLocations() {
        try {
            const res = await fetch('/api/TransitLocation');
            const data = await res.json();
            console.log('Transit live locations data:', data);
        } catch (error) {
            console.error('Error fetching transit live locations:', error);
        }
    } 

    async function stopsInView() {
        if (!map) return;

        let bounds;

        try {
            bounds = map.getBounds();
        } catch (e) {
            console.log('Error getting map bounds:', e);
            return;
        }

        const minLat = bounds.getSouth();
        const maxLat = bounds.getNorth();
        const minLon = bounds.getWest();
        const maxLon = bounds.getEast();
    

        // With this apiUrl, the backend will filter the stops based on the view on the map
    // const apiUrl = `/api/Stops?minLat=${minLat}&maxLat=${maxLat}&minLon=${minLon}&maxLon=${maxLon}`;
    const apiUrl = `/api/Stops`;
    const response = await fetch(apiUrl)
    const data = await response.json();
    console.log("dataaaaa", data);
    console.log(`Fetching stops in view from API: ${apiUrl}`);

    try {
        
        if (!response.ok) {
            const errorText = await response.json();
            console.error('API error:', response.status, errorText);
            return;
        }

        // const data = await response.json();
        console.log(`Received ${data.length} stops in view`);

        markerClusters.clearLayers();

        const stopArray = Array.isArray(data) ? data : (data && data.stops) || []; // Handle both array and single object responses

        if (stopArray.length > 0) {
            const markersToAdd = [];
        stopArray.forEach(stop => {

            const rawLat = stop.stop_lat || stop.lat || stop.latitude;
            const rawLon = stop.stop_lon || stop.lon || stop.longitude;
            const rawName = stop.stop_name || stop.name || "unknown stop";
            const id = stop.stop_id || stop.id || `NO ID`;
            const code = stop.stop_code || stop.code || ``;

            // Force lat/lon to be numbers in case they are strings
            const lat = parseFloat(rawLat);
            const lon = parseFloat(rawLon);

            if (!isNaN(lat) && !isNaN(lon)) {
            const marker = L.circleMarker([lat, lon], {
            // let markers = new L.markerClusterGroup([lat, lon], {
                radius: 10,
                fillColor: '#3388ff',
                color: '#fff',
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8,
                renderer: myRenderer
            })
            // map.addLayer(markers);
            marker.bindPopup(`<b>${rawName || "Unknown stops"}</b><br>Stop name: ${code}`);
            markersToAdd.push(marker);
        } else {
            console.error(`Invalid coordinates for stop ID ${id}: lat=${lat}, lon=${lon}`);
        }
        });
        markerClusters.addLayers(markersToAdd);
    } else {
        console.log('Array expected but got:', data);
    }
    } catch (error) {
        console.error('Error fetching stops in view:', error);
    }
}

    // fetch (apiUrl)
    //     .then(response => {
    //         if (!response.ok) {
    //             throw new Error('Network response was not ok');
    //         }
    //         return response.json();
    //     })
    //     .then(data => {
    //         console.log(`Received ${data.length} stops in view`);

    //         markerLayers.clearLayers();

    //         data.forEach(stop => {
    //             const marker = L.circleMarker([stop.lat, stop.lon], {
    //                 radius: 5,
    //                 fillColor: '#3388ff',
    //                 color: '#fff',
    //                 weight: 1,
    //                 opacity: 1,
    //                 fillOpacity: 0.8,
    //                 renderer: myRenderer
    //             })
    //             .addTo(markerLayers);
    //             marker.bindPopup(`<b>${stop.name}</b><br>Stop ID: ${stop.id}`);
    //         });
    //     })
    //     .catch(error => {
    //         console.error('Error fetching stops in view:', error);
    //     });

    function setupMap() {

        if (map) {
            map.off();
            map.remove();
        }

        const mapElement = document.getElementById('map');

        if (!mapElement) {
            console.error('Map element not found');
            return;
        }

        map = L.map(mapElement, {
            preferCanvas: true,
            zoomControl: true,
            fadeAnimation: true,
            zoomAnimation: true,
            markerZoomAnimation: true
        })
        .setView([initialCoords.lat, initialCoords.lon], 10)
        .locate({setView: true, maxZoom: 16});

        myRenderer = L.canvas({ padding: 0.5 });

        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; OpenStreetMap',
            minZoom: 7.5, 
            maxZoom: 19,
        }).addTo(map);

        // markerClusters options:
        // https://github.com/Leaflet/Leaflet.markercluster/blob/master/src/MarkerClusterGroup.js
        markerClusters = L.markerClusterGroup({
            chunkedLoading: true,
        })
        map.addLayer(markerClusters);

        map.on('moveend', stopsInView);

        // fetch('/api/Stops')
        //     .then(response => {
        //         if (!response.ok) {
        //             throw new Error('Network response was not ok');
        //         }
        //         return response.json();
        //     })
        //     .then (data => {
        //         console.log(`Data available for ${data.length} stops`);

        //         data.forEach(stop => {
        //             const marker = L.circleMarker([stop.lat, stop.lon], {
        //                 radius: 5,
        //                 fillColor: '#3388ff',
        //                 color: '#fff',
        //                 weight: 1,
        //                 opacity: 1,
        //                 fillOpacity: 0.8,
        //                 renderer: myRenderer
        //             })
        //             .addTo(markerLayers);
        //             marker.bindPopup(`<b>${stop.name}</b><br>Stop ID: ${stop.id}`);
        //         })
        //     })

        setTimeout(() => {
            map.invalidateSize();
            stopsInView();
        }, 100);
    }

    document.addEventListener('DOMContentLoaded', setupMap);
    document.addEventListener('astro:page-load', setupMap);
</script>


<style is:global>
    .leaflet-top {
        margin-top: 65vh !important;
        margin-left: 85vw !important;
        transform: scale(1.5);
    }

    .leaflet-bar {
        border: none !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
        border-radius: 12px !important;
        overflow: hidden !important;
    }

    .leaflet-control-zoom a {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        font-size: 24px !important;
        background-color: rgba(0, 0, 0, 0.2) !important;
        backdrop-filter: blur(0.5px) !important;
        color: black !important;

        transition: all 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        &:active {
            background-color: rgba(0, 0, 0, 0.6) !important;
            transform: scale(0.85) !important;
        }
    }

    .leaflet-control-zoom-in {
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.3) !important;
    }

    .leaflet-control-zoom-out {
        border-top: 0.1px solid rgba(0, 0, 0, 0.3) !important;
    }
</style>

<style>
    /* https://css-loaders.com/dots-bars/ */

#map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --r1: radial-gradient(farthest-side at bottom,#000 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,#000 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}
</style>
